@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*, body::before, body::after {
    box-sizing: border-box;
}
html, body {
    margin: 0px;
    padding: 0px;
}
body {
    min-width: 375px;
    max-width: 1440px;
    background-color: #19a2ae;
}
#card {
    position: relative;
     background-color: white;
     width: 350px;
     height: 380px;
     margin: auto;
     border-radius: 15px;
     margin-top: 90px;
     max-width: 100%;
}
#circulo-top { 
    position: fixed;
    bottom: 250px;
    left: -320px;  
    width: 978px;
    height: 978px;
    max-width: 180%;
    object-fit: cover;
}
#circulo-bottom {
    position: fixed;
    top: 240px;
    right: -370px; 
    width: 978px;
    height: 978px;
    max-width: 180%;
    object-fit: cover;
}
img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
#profile {
    position: relative;
}
#perfil {
    position: absolute;
    border-radius: 100px;
    width: 90px;
    height: 90px;
    border: 4px solid white;
    bottom: -50px;
    left: 120px;
}
#nome {
    padding: 50px;
    font-family: 'Kumbh Sans', sans-serif;
}
p > strong {
    font-weight: 400px;
    color: hsl(227, 10%, 46%);
    padding: 0px;
}
p {
    font-weight: bolder;
    text-align: center;
    color: hsl(229, 23%, 23%);
    margin-top: 18px;
    font-size: 18px;
}
#cidade {
    font-weight: normal;
    color:  hsl(227, 10%, 46%);
    font-size: 14px;
    margin-top: 10px;
}
hr {
    background-color: rgba(226, 222, 222, 0.483);
    margin-top: -25px;
}
#card-text {
    position: absolute;
    right: 265px;
    top: 300px;
}
#card-text2{
    position: absolute;
    left: 145px;
    top: 300px;
}
#card-text3 {
    position: absolute;
    left: 255px;
    top: 300px;
}
.texto-numeros {
    font-weight: bolder;
    font-family: 'Kumbh Sans', sans-serif;
}
.texto {
    font-weight: normal;
    color: hsl(0, 0%, 59%);
    line-height: 10px;
    margin-top: -10px;
    margin-right: 3px;
    font-size: 10px;
}
/*
.attribution { 
    color: white;
    font-size: 14px; 
    text-align: center;
    margin-top: 30px;
    margin-right: 42px;
}
.attribution a { 
    color: hsl(185, 28%, 8%);
    text-decoration: none;
    font-weight: bold;
}
.attribution a:hover {
  text-decoration: underline;
} */

@media only screen and (min-width: 300px) and (max-width: 700px) {
    #circulo-top { 
        position: fixed;
        bottom: 250px;
        left: -320px;  
        width: 578px;
        height: 578px;
        max-width: 100%;
        object-fit: cover;
    }
    #circulo-bottom {
        position: fixed;
        top: 240px;
        right: -370px; 
        width: 628px;
        height: 778px;
        max-width: 100%;
        object-fit: cover;
    }
}